name: Deploy to AWS

on:
  push:
    branches:
      - main  # main 브랜치에 push될 때만 실행

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            # 1. 프로젝트 폴더로 이동
            cd /home/ubuntu/smash_renewal

            # 2. 최신 코드 받기
            git pull origin main

            # 3. 백엔드 라이브러리 설치
            npm install --production

            # 4. 프론트엔드 빌드
            cd client
            npm install --legacy-peer-deps
            npm run build
            cd ..

            # 5. 서버 재시작
            pm2 reload all

            echo "배포가 완료되었습니다!"